html{
	height: 100%;
}
body{
	font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-style: normal;
	height: 100%;
}

.home-bg{
	background:url(../img/tana-bg.jpg) center center no-repeat;
	background-size: cover;
}
.logo{
	padding-top: 40px;
	width: 140px;
	height: auto; 
}

.tag{
	padding-top: 20%;
	padding-bottom: 20%;
	padding-left: 10px;
	color: #fff;
	font-family: proxima-nova, sans-serif;
  font-weight: 300;	
	line-height: 1.1;
  font-size: 2.7rem;
}

.contacts{
	color: #fff;
	font-size: 14px;
	padding-left: 10px;
	position: fixed;
  bottom: 0; 
  width: 100%;
  height: 50px; 
}

.contacts-inner{
	position: relative;
}


@media only screen and (max-width: 40em) {
	
	.logo{
	   padding-top: 20px;
	   width: 110px;
	   height: auto;
  }
	
	.tag{
	  padding-top: 35%;
		padding-right: 20px;
	  line-height: 1.3;
    font-size: 1.8rem;
  }
	
	.contacts{
	color: #fff;
	font-size: 12px;
	padding-left: 10px;
	position: fixed;
  bottom: 0; 
  width: 100%;
  height: 55px; 
}
}